.cart-page {
  padding: 30px;
  background: #f4f8fb;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.cart-page h1 {
  color: #075985;
  font-size: 38px;
  margin-bottom: 25px;
}

.empty-cart {
  text-align: center;
  color: #1f2937;
  margin-top: 80px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-card {
  background: white;
  padding: 18px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.cart-card img {
  width: 120px;
  height: 100px;
  object-fit: contain;
  background: #f1f5f9;
  border-radius: 12px;
}

.cart-info {
  flex: 1;
}

.cart-info h3 {
  color: #111827;
  margin-bottom: 8px;
}

.cart-info p {
  color: #374151;
  margin-bottom: 8px;
}

.cart-info h4 {
  color: #075985;
  font-size: 22px;
}

.cart-card button,
.cart-total button {
  padding: 10px 18px;
  border: none;
  background: #dc2626;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.cart-card button:hover,
.cart-total button:hover {
  background: #b91c1c;
}

.cart-total {
  margin-top: 30px;
  background: rgb(20, 20, 20);
  padding: 20px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #075985;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

@media (max-width: 600px) {
  .cart-card {
    flex-direction: column;
    text-align: center;
  }

  .cart-total {
    flex-direction: column;
    gap: 15px;
  }
}
.b{
    display: flex;
    align-items: center;
    padding: 10px 40px;
    margin-bottom: 5px;
    margin-left: 45%;
    background-color: #075985;
    border-radius: 10px;
}
.order-form {
  margin-left: 25%;
  align-items: center;
  width: 50%;
  margin-top: 25px;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(228, 217, 217, 0.08);
}

.order-form h2 {
  color: #075985;
  margin-bottom: 15px;
}

.order-form input,
.order-form textarea,
.order-form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  outline: none;
  background-color: #f4f8fb;
}

.order-form textarea {
  height: 80px;
  resize: none;
}

.b {
  margin-top: 20px;
  padding: 13px 22px;
  background: #0284c7;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.b:hover {
  background: #0369a1;
}